@import './../abstracts/variables';

.footer {
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  display: block;
  background-color: $color-grey-dark;
  color: $color-grey-light;
  position: fixed;
  bottom: 0;
}