@import './../abstracts/mixins';

.search {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__grid {
    @include five-cards-grid;
    flex: 1;
    max-width: 1080px;
    padding: 1.5rem 0;
  }
}