@import './../../abstracts/variables';

 .productOverview {
   background-color: $color-white-primary;
   margin-top: 3rem;
   padding: .15rem .5rem;
   color: $color-grey-medium;

   & > h2 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
   }

   & > p {
     font-size: .8rem;

     & > a {
      color: $color-grey-medium;
      text-decoration: none;

     &:hover {
        text-decoration: underline;
     }
   }
   }
 }