@import './../../abstracts/variables';

.score {
  color: $color-grey-medium;
  font-size: .8rem;
  margin-top: 0;

  &__table {
    display: flex;
    align-items: center;

    & > span:first-of-type {
      flex: 2;
      color: $color-grey-dark;
      font-weight: 600;
    }

    & > div {
      flex: 3;
      margin: .25rem 1rem ;
      background-color: $color-white-primary;
    }
  }
}