@import './variables';

@mixin header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, $color-purple-primary 15%, $color-blue-primary 85%);
}

@mixin max-1366 {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 1366px;
}

@mixin five-cards-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1.5rem;

  @include phone-only {
    display: flex;
    overflow: auto;
  }
}

@mixin two-cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 1.5rem;
}


@mixin phone-only {
  @media (max-width: 576px) { @content; }
}
@mixin landscape-phones {
  @media (max-width: 768px) { @content; }
}
@mixin tablet-landscape-up {
  @media (max-width: 992px) { @content; }
}
@mixin desktop-up {
  @media (max-width: 1200px) { @content; }
}